*{
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6161cf;
  --primary-color-dark: #0d0da5;
  --primary-bg-color: #f8f9fa;
  --text-color: #333;
  --node-bg-color: #ffffff;
  --node-bg-color-hover: #f0f0f0;
  --border-color: #ced4da;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --header_height:60px;
}

#root {
  height: 100vh;
}
.header{
  height: var(--header_height);
  width: 100%;
    margin-bottom: 10px;
}
.panel{
  display: flex;
  gap: 10px;
}
.panel h3{
  margin-left: 4px;
}
.left_panel_container{
  width: 350px;
}
.center_panel_container{
  flex-grow: 1;
  height: calc(100vh - var(--header_height) - 35px);
  width: calc(100% - 350px);
}
@media screen and (max-width: 950px) {
  .left_panel_container {
      width: 250px;
    }
      
}
@media screen and (max-width: 700px) {
  body{
    overflow-y: auto;
  }
  .panel{
    flex-direction: column;
  }
    .left_panel_container,.center_panel_container {
      width: 100%;
    }
}